@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    640 General Robles y Amazonas
    Quito,<br />
    +593 979577333<br />
   <abbr title="Email"></abbr>
    luispat1963@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">deividfrend@gmail.com</a><br />
</address>