@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LatterDaySaintsEcuador</h1>
    <p class="lead">This is a free site built to tell the history of Ecuadorian Pioneers. The information used here is provided by our supporters and friend across the country</p>
    <p><a href="https://iglesia-jesucristo-sud-mormones.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row text-center">
    
        <iframe width="1140" height="630" src="https://www.youtube.com/embed/8m_tLBPGnfA?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
    